body {
  background-color: #2bf00f;
}
h1{
  font-family: 'Alfa Slab One';
  font-size: 50px;
  font-style: Alfa Slab one;
}
p{
  font-size: 30px;
}
table.customTable {
  width: 100%;
  background-color: #2bf00f;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #d40ff0;
  border-style: solid;
  color: #000000;
}

table.customTable td, table.customTable th {
  border-width: 2px;
  border-color: #d40ff0;
  border-style: solid;
  padding: 5px;
}

table.customTable thead {
  background-color: #d40ff0;
}
th, td, p{
  font-family:'Rubik', sans-serif ;

}
caption{
  font-size: 40px;
}
